include asciidrumming/samples/*.wav
include asciidrumming/samples/*.ogg
include asciidrumming/samples/*.mp3
include asciidrumming/samples/*.flac
include asciidrumming/samples/*.aiff
include asciidrumming/default/*
